{% extends 'base.html' %} 
{% block content %}
<div id="menu2" class="tab-pane fade">
  <table class="table-content">
    <tr>
      <th class="common_th">AID</th>
      <th class="common_th">Article</th>
      <th class="common_th">Project</th>
      <th class="common_th">Batch</th>
      <th class="common_th">Search Tags</th>
      <th class="common_th">Images Tags</th>
      <th class="common_th">Review Article</th>
    </tr>
    {% if articles_data %} 
      {% for row in articles_data %}
        <tr>
          <td class="common_td">{{ forloop.counter }}</td>
          <td class="common_td"><a target="_blank" href="{{ row.old_article.url }}">Article <i class="fa-solid fa-up-right-from-square"></i></a></td>
          <td class="common_td">{{row.project}}</td>
          <td class="common_td">{{row.batch.name}}</td>
          <td class="common_td">{% if row.search_tags %}Yes{% else %}No{% endif %}</td>
          <td class="common_td">{% if row.image_tags %}Yes{% else %}No{% endif %}</td>
          <td class="common_td">
            <div class="table-row-btns">
              <button><a class="see_article" href="{% url 'specific_article' %}?id={{row.id}}">See Article</a></button>
              {% comment %} <button>Image Tags</button> {% endcomment %}
            </div>
          </td>
        </tr>
      {% endfor %} 
    {% else %}
      <tr>
        <td class="no_articles" colspan="7">There are no articles yet.</td>
      </tr>
    {% endif %}
  </table>
</div>
{% endblock %}
