{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    {% if message %}
        <div id="snackbar">
            {{ message|escapejs }}
        </div>
    {% endif %}
    <div class="container">
        <div class="register-box">
            <h1>Create An Account</h1>
            <form action="" method="POST"> {% csrf_token %}
                <div class="form-group form-box">
                    <input type="text" name="name" class="form-control" placeholder="Full Name" aria-label="Full Name" required>
                </div>
                <div class="form-group form-box">
                    <input type="email" name="email" class="form-control" placeholder="Email Address"
                        aria-label="Email Address" required>
                </div>
                <div class="form-group form-box form-box-input">
                    <input class="password" type="password" name="password" class="form-control" autocomplete="off"
                        placeholder="Password" aria-label="Password" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-md btn-theme w-100">Register</button>
                </div>
                <div class="clearfix">
                    <div class="form-group">
                        <input type="checkbox" id="html" required>
                        <label for="html">I agree to the <a href="">terms of service</a></label>
                    </div>
                </div>
                <!-- <div class="social-list">
                    <span>Or Login With</span>
                    <a href="#" class="facebook-bg">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="#" class="twitter-bg">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                    <a href="#" class="google-bg">
                        <i class="fa-brands fa-google"></i>
                    </a>
                    <a href="#" class="linkedin-bg">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                </div> -->
            </form>
            <div class="login-here">
                <p>Already a member?</p>
                <a href={% url 'login' %}>Login here</a>
            </div>
        </div>

    </div>
    <!-- <div class="ripple-background">
        <div class="circle xxlarge shade1"></div>
        <div class="circle xlarge shade2"></div>
        <div class="circle large shade3"></div>
        <div class="circle mediun shade4"></div>
        <div class="circle small shade5"></div>
    </div> -->
</body>

</html>